.about {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #222220;
}

.about__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__title__text {
  font-size: 100rem;
  transition: transform 0.3s, opacity 0.2s;
  // transition: transform 4s cubic-bezier(0.42, 0, 1, 0), opacity 0.2s;
  transform: scale(0.05);
  white-space: nowrap;
  opacity: 0;
}

.about__title__text--active {
  transform: scale(14);
}

.about__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about__container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__container__item--top-left {
  grid-area: top-left;
}

.about__container__item--top-right {
  grid-area: top-right;
}

.about__container__item--bottom-left {
  grid-area: bottom-left;
}

.about__container__item--right-right {
  grid-area: bottom-right;
}

.about__container__item__text {
  font-size: 3rem;
  transform: scale(0.1);
  transform-origin: 60% 60%;
  transition: transform 0.6s;
}

.about__container__item--top-left .about__container__item__text:nth-child(1) {
  transform: scale(0.5);
}
