.about {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #222220;
}

.about__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__title__text {
  font-size: 100rem;
  transition: transform 0.3s, opacity 0.2s;
  transform: scale(0.05);
  white-space: nowrap;
  opacity: 0;
  color: #c89d9d;
}

.about__title__text--active {
  transform: scale(14);
}

.about__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about__container__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__container__item--top-left {
  grid-area: top-left;
}

.about__container__item--top-right {
  grid-area: top-right;
}

.about__container__item--bottom-left {
  grid-area: bottom-left;
}

.about__container__item--right-right {
  grid-area: bottom-right;
}

.about__container__item--top-right .about__container__item__text {
  transform-origin: bottom left;
}

.about__container__item--bottom-right .about__container__item__text {
  transform-origin: top left;
}

.about__container__item--top-left .about__container__item__text {
  transform-origin: bottom right;
}

.about__container__item--bottom-left .about__container__item__text {
  transform-origin: top right;
}

.about__container__item--bottom-left .about__container__item__text,
.about__container__item--bottom-right .about__container__item__text {
  align-items: flex-start;
}

.about__container--active
  .about__container__item--top-left
  .about__container__item__text:nth-child(1) {
  animation-name: animTopLeftFirstWave;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container--active
  .about__container__item--top-left
  .about__container__item__text:nth-child(2) {
  animation-name: animTopLeftSecondWave;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container--active
  .about__container__item--top-right
  .about__container__item__text:nth-child(1) {
  animation-name: animTopRightFirstWave;
  animation-duration: 10s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container--active
  .about__container__item--top-right
  .about__container__item__text:nth-child(2) {
  animation-name: animTopRightSecondWave;
  animation-duration: 10s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container--active
  .about__container__item--bottom-left
  .about__container__item__text:nth-child(1) {
  animation-name: animBottomLeftFirstWave;
  animation-duration: 10s;
  animation-delay: 3.75s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container--active
  .about__container__item--bottom-left
  .about__container__item__text:nth-child(2) {
  animation-name: animBottomLeftSecondWave;
  animation-duration: 10s;
  animation-delay: 3.75s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}
.about__container--active
  .about__container__item--bottom-right
  .about__container__item__text:nth-child(1) {
  animation-name: animBottomRightFirstWave;
  animation-duration: 10s;
  animation-delay: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container--active
  .about__container__item--bottom-right
  .about__container__item__text:nth-child(2) {
  animation-name: animBottomRightSecondWave;
  animation-duration: 10s;
  animation-delay: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.97, 0.54, 0.96, 0.76);
}

.about__container__item__text {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 3rem;
  transform: scale(0.1);
  transform-origin: 60% 60%;
  transition: transform 0.6s;
  opacity: 0;
  color: #adaea5;
}

.about__container__item--top-left .about__container__item__text:nth-child(1) {
  transform: scale(0.5);
}

@keyframes animTopLeftFirstWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translate(-100%, -100%) scale(2);
  }
}

@keyframes animTopLeftSecondWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-100%, -100%) scale(2);
  }
}

@keyframes animTopRightFirstWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translate(100%, -100%) scale(2);
  }
}

@keyframes animTopRightSecondWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(100%, -100%) scale(2);
  }
}

@keyframes animBottomLeftFirstWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translate(-100%, 100%) scale(2);
  }
}

@keyframes animBottomLeftSecondWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 100%) scale(2);
  }
}

@keyframes animBottomRightFirstWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translate(100%, 100%) scale(2);
  }
}

@keyframes animBottomRightSecondWave {
  0% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(100%, 100%) scale(2);
  }
}

@media (max-width: 1023px) and (orientation: portrait) {
  .about__container__item__text {
    font-size: 2.4rem;
  }
}
