%page-size {
  width: 100vw;
  height: 100vh;
}

%parent-size {
  height: 100%;
  width: 100%;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
