.opacity {
  opacity: 100%;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visble {
  visibility: visible;
}

.no-display {
  display: none;
}

.opacity-visible {
  opacity: 1;
}

.height-max {
  height: 100%;
}

.width-max {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}
