*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

a {
  color: inherit;
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
  pointer-events: none !important;
}

.no-scroll::-webkit-scrollbar-thumb {
  background-color: none;
}

@-moz-document url-prefix() {
  .no-scroll {
    scrollbar-width: none;
  }
}
