.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

.side-bar__icon {
  color: rgb(200, 157, 157);
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.75s;
  transform: scale(1.5);
  opacity: 0;
  &:hover {
    transform: scale(1.1);
  }
}

.side-bar__icon + .side-bar__icon {
  margin-top: 25px;
}

.side-bar__icon--intitial {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s;
}

@media (max-width: 1919px) {
  .side-bar__icon {
    font-size: 2rem;
  }
}

@media (max-width: 1023px) and (orientation: portrait) {
  .side-bar__icon {
    font-size: 1.4rem;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .side-bar__icon {
    font-size: 1.5rem;
  }

  .side-bar__icon + .side-bar__icon {
    margin-top: 20px;
  }
}
