.skills {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: $secondaryBackground;
}

.skills__description {
  @include flex(center, center);
  flex-direction: column;
  width: 40%;
  margin-left: 10px;
  overflow: hidden;
}

.skills__description__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -70.5px) scale(3);
  opacity: 0;
  z-index: 2;
}

.skills__description__title.opacity-visible {
  transition: transform 1.2s, opacity 0.4s, left 1.2s, bottom 1.2s;
}

.skills__description__title__h2 {
  font-size: 2.5rem;
  color: $primaryColor;
}
.skills__description__text {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.3s, transform 0.3s;
  text-align: center;
}

.skills__description__text--active {
  opacity: 1;
  transform: translateX(0);
}

.skills__description__text__span {
  font-size: 1.2rem;
  text-align: center;
  color: $secondaryTextColor;
}

.skills__technologies {
  display: grid;
  grid-template-columns: calc(30vw - 2px) 4px calc(30vw - 2px);
  grid-template-areas:
    "margin margin margin"
    "items-left line items-right";
  position: relative;
  width: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.skills__technologies__margin {
  grid-area: margin;
  width: 100%;
  height: 15px;
}
.skills__technologies__wrapper {
  padding-bottom: 50vh;
}

.skills__technologies__wrapper--left {
  grid-area: items-left;
  display: flex;
  flex-direction: column;
}

.skills__technologies__line {
  position: relative;
  grid-area: line;
  background: linear-gradient(
    to bottom,
    $primaryTextColor,
    $primaryTextColor 50%,
    $primaryTextColor 100%
  );
  height: 0;
  width: 100%;
  margin-top: calc(207px / 2);
}

.skills__technologies__line--tranistion {
  transition: height 1s;
}

.skills__technologies__line--tranistion .skills__technologies__line__overlay {
  transition: height 1s;
}

.skills__technologies__line__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0px;
  background-color: $primaryColor;
}

.skills__technologies__wrapper--right {
  grid-area: items-right;
}

.skills__technologies__line--active {
  height: calc(100vh - 50px);
}

.skills__technologies__wrapper--right
  .skills__technologies__wrapper__container:first-child {
  margin-top: 0vh;
}

.skills__technologies__wrapper--left
  .skills__technologies__wrapper__container:first-child {
  margin-top: calc(65vh + 103.5px);
}

.skills__technologies__wrapper__container {
  position: relative;
  height: 207px;
}

.skills__technologies__wrapper__container
  + .skills__technologies__wrapper__container {
  margin-top: 130vh;
}

.skills__technologies__wrapper__container__item {
  @include flex(center, center);
  flex-direction: column;
  height: 207px;
}

.skills__technologies__wrapper__container__item__container {
  position: absolute;
  width: 180px;
  height: 102px;
}

.skills__technologies__wrapper__container__item__container:nth-of-type(2) {
  transform: rotate(60deg);
}

.skills__technologies__wrapper__container__item__container:nth-of-type(3) {
  transform: rotate(-60deg);
}

.skills__technologies__wrapper__container__item__container__hexagon {
  position: relative;
  width: 100%;
  height: 100%;
}

.skills__technologies__wrapper__container__item__container__hexagon__icon {
  @include flex(center, center);
  @extend %absolute-center;
  font-size: 6rem;
  color: $shadowColor;
  transition: color 0.2s 0.9s;
}

.skills__technologies__wrapper__container__item__container__hexagon__icon--text {
  font-size: 3.5rem;
}

.skills__technologies__wrapper__container__item__container__hexagon__element {
  position: absolute;
  width: 4px;
  height: 100%;
  z-index: 5;
  background-color: $shadowColor;
  transition: height 0.3s;
}

.skills__technologies__wrapper__container__item:hover
  .skills__technologies__wrapper__container__item__container__hexagon__element {
  height: 100%;
}

.skills__technologies__wrapper__container__item__container__hexagon__element--center-left {
  left: 0;
}

.skills__technologies__wrapper__container__item__container__hexagon__element--center-right {
  right: 0;
}

.skills__technologies__wrapper__container__item__container__hexagon__element--top-left {
  left: 0;
}

.skills__technologies__wrapper__container__item__container__hexagon__element--bottom-left {
  left: 0;
}

.skills__technologies__wrapper__container__item__container__hexagon__element--top-right {
  right: 0;
}

.skills__technologies__wrapper__container__item__container__hexagon__element--bottom-right {
  right: 0;
}

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  background-color: $primaryColor;
  transition: height 0.2s;
  animation-delay: 0.3s;
}

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--center-left {
  top: 0;
}

.skills__technologies__wrapper__container__item__container:nth-of-type(1)
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-delay: 0.5s;
}

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-left {
  animation-delay: 0.7s;
}

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-right {
  animation-delay: 0.7s;
}

.skills__technologies__wrapper__container--active
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-name: hexagon;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.skills__technologies__wrapper__container--active
  .skills__technologies__wrapper__container__item__container__hexagon__icon {
  color: $primaryColor;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__item__container__hexagon__icon {
  color: $shadowColor;
  transition: 0.2s 0.6s;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-name: hexagon, hexagonReverse;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-delay: 0.4s;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__item__container:nth-of-type(1)
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-delay: 0.2s;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-left {
  animation-delay: 0s;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-right {
  animation-delay: 0s;
}

.skills__technologies__wrapper__container__point {
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.skills__technologies__wrapper--right
  .skills__technologies__wrapper__container__point {
  right: initial;
  left: -2px;
}

.skills__technologies__wrapper__container__point__circle {
  @extend %absolute-center;
  border-radius: 50%;
  z-index: 1;
}

.skills__technologies__wrapper__container__point__circle--big {
  width: 30px;
  height: 30px;
  background: linear-gradient(
    to bottom,
    $primaryColor 50%,
    $primaryTextColor 50%
  );
  background-position: bottom;
  background-size: 100% 200%;
  transition: background-position 0.2s ease-out, height 1s;
}

.skills__technologies__wrapper__container--active
  .skills__technologies__wrapper__container__point__circle--big {
  background-position: top;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__point__circle--big {
  background-position: bottom;
}

.skills__technologies__wrapper__container__point__circle--medium {
  width: 26px;
  height: 26px;
  background-color: $secondaryBackground;
}

.skills__technologies__wrapper__container__point__circle--small {
  width: 8px;
  height: 8px;
  background-color: $primaryTextColor;
  transition: background-color 0.1s 0.2s;
}

.skills__technologies__wrapper__container--active
  .skills__technologies__wrapper__container__point__circle--small {
  background-color: $primaryColor;
}

.skills__technologies__wrapper__container--deactive
  .skills__technologies__wrapper__container__point__circle--small {
  background-color: $primaryTextColor;
}

.skills__technologies__wrapper__container__point__circle--small--active {
  background-color: $primaryColor;
}

@media (max-width: 1919px) {
  .skills__technologies {
    grid-template-columns: calc(30vw - 1.5px) 3px calc(30vw - 1.5px);
  }

  .skills__technologies__wrapper__container {
    height: 137px;
  }

  .skills__technologies__wrapper--left
    .skills__technologies__wrapper__container:first-child {
    margin-top: calc(65vh + 68.5px);
  }

  .skills__technologies__wrapper__container__item {
    height: 137px;
  }

  .skills__technologies__wrapper__container__item__container {
    width: 120px;
    height: 68px;
  }

  .skills__technologies__wrapper__container__item__container__hexagon__icon {
    font-size: 4.5rem;
  }

  .skills__technologies__wrapper__container__item__container__hexagon__icon--text {
    font-size: 2.6rem;
  }

  .skills__technologies__wrapper__container__point {
    right: -1.5px;
  }

  .skills__technologies__line {
    margin-top: calc(137px / 2);
  }

  .skills__technologies__wrapper--right
    .skills__technologies__wrapper__container__point {
    left: -1.5px;
  }

  .skills__technologies__wrapper__container__point__circle--big {
    width: 25px;
    height: 25px;
  }

  .skills__technologies__wrapper__container__point__circle--medium {
    width: 22px;
    height: 22px;
  }

  .skills__technologies__wrapper__container__point__circle--small {
    width: 6px;
    height: 6px;
    transition: background-color 0.1s 0.3s;
  }
}

@media (max-width: 1365px) {
  .skills__technologies {
    grid-template-columns: calc(30vw - 1px) 2px calc(30vw - 1px);
  }

  .skills__technologies__wrapper__container {
    height: 104px;
  }

  .skills__technologies__wrapper--left
    .skills__technologies__wrapper__container:first-child {
    margin-top: calc(65vh + 52px);
  }
  .skills__technologies__wrapper__container__item {
    height: 104px;
  }

  .skills__technologies__wrapper__container__item__container {
    width: 90px;
    height: 51px;
  }

  .skills__technologies__wrapper__container__item__container__hexagon__icon {
    font-size: 3.5rem;
  }

  .skills__technologies__wrapper__container__item__container__hexagon__icon--text {
    font-size: 2.1rem;
  }

  .skills__technologies__wrapper__container__point {
    right: -1px;
  }

  .skills__technologies__line {
    margin-top: calc(104px / 2);
  }

  .skills__technologies__wrapper--right
    .skills__technologies__wrapper__container__point {
    left: -1px;
  }

  .skills__technologies__wrapper__container__point__circle--big {
    width: 20px;
    height: 20px;
  }

  .skills__technologies__wrapper__container__point__circle--medium {
    width: 18px;
    height: 18px;
  }

  .skills__technologies__wrapper__container__point__circle--small {
    width: 5px;
    height: 5px;
    transition: background-color 0.1s 0.3s;
  }
}

@media (max-width: 1023px) {
  .skills {
    flex-direction: column;
    align-items: center;
    height: 200vh;
  }

  .skills__description {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-right: 10px;
  }

  .skills__description__title {
    transform: translate(-50%, -70.5px) scale(2);
  }

  .skills__description__text {
    width: 95%;
  }

  .skills__technologies {
    grid-template-columns: calc(50vw - 2px) 4px calc(50vw - 2px);
    width: 100%;
    height: 100vh;
  }
  .skills__technologies__wrapper__container__point {
    right: -2px;
  }

  .skills__technologies__wrapper--right
    .skills__technologies__wrapper__container__point {
    left: -2px;
  }
}

@media (max-width: 767px) {
  .skills__description__title {
    transform: translate(-50%, -47px) scale(1.5);
  }
}

@media (max-width: 639px) {
  .skills__description__title {
    transform: translate(-50%, -28.2px) scale(1.2);
  }
}

@keyframes hexagon {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes hexagonReverse {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
