$primaryBackground: #222220;
$secondaryBackground: #1f1f1d;
$shadowColor: #2a2a27;
$primaryColor: #c89d9d;
$primaryColorShadow: #b48d8d;
$primaryTextColor: #e6e6e6;
$secondaryTextColor: #adaea5;
$tertiaryTextColor: #8a8b84;
