*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-y: hidden; }

a {
  color: inherit; }

.no-scroll::-webkit-scrollbar {
  width: 0px;
  pointer-events: none !important; }

.no-scroll::-webkit-scrollbar-thumb {
  background-color: none; }

@-moz-document url-prefix() {
  .no-scroll {
    scrollbar-width: none; } }

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10; }

.side-bar__icon {
  color: #c89d9d;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.75s;
  transform: scale(1.5);
  opacity: 0; }
  .side-bar__icon:hover {
    transform: scale(1.1); }

.side-bar__icon + .side-bar__icon {
  margin-top: 25px; }

.side-bar__icon--intitial {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s; }

@media (max-width: 1919px) {
  .side-bar__icon {
    font-size: 2rem; } }

@media (max-width: 1023px) and (orientation: portrait) {
  .side-bar__icon {
    font-size: 1.4rem; } }

@media (max-width: 1023px) and (orientation: landscape) {
  .side-bar__icon {
    font-size: 1.5rem; }
  .side-bar__icon + .side-bar__icon {
    margin-top: 20px; } }

.start {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr 25vh;
  grid-template-columns: 20vw 1fr 25vw;
  grid-template-areas: "title-left title-center title-right" "content-left content-center content-right" "downbar-left downbar-center downbar-right";
  background-color: #222220;
  color: white;
  font-family: "Roboto Mono", monospace; }

.start__title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: title-left; }

.start__title__container {
  display: flex;
  font-size: 2.5rem;
  margin-bottom: -3.2px;
  margin-right: -8px;
  z-index: 1; }

.start__title__container__letter {
  display: inline-block;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: 1; }

.start__title__container__letter:nth-child(2) {
  animation-delay: 1.1s; }

.start__title__container__letter:nth-child(3) {
  animation-delay: 1.2s; }

.start__title__container__letter:nth-child(4) {
  animation-delay: 1.3s; }

.start__title__container__letter:nth-child(5) {
  animation-delay: 1.4s; }

.start__title__container__letter:nth-child(6) {
  animation-delay: 1.5s; }

.start__title__container__letter:nth-child(7) {
  animation-delay: 1.6s; }

.start__title__container__letter:nth-child(8) {
  animation-delay: 1.7s; }

.start__title__container__letter:nth-child(9) {
  animation-delay: 1.8s; }

.start__title__container__letter:nth-child(10) {
  animation-delay: 1.9s; }

.start__title__container__letter:nth-child(11) {
  animation-delay: 2s; }

.start__line {
  display: block;
  width: 6px;
  height: 100%;
  margin-left: auto;
  background: linear-gradient(to bottom, #c89d9d 50%, white 50%);
  background-position: bottom;
  background-size: 100% 200%;
  transition: background-position 1s ease-out, height 1s;
  height: 0; }

.start__line--content {
  grid-area: content-left; }

.start__line--active {
  background-position: top; }

.start__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  font-size: 6rem;
  grid-row-start: title-left;
  grid-row-end: downbar-left;
  grid-column-start: content-left;
  grid-column-end: content-center;
  z-index: 1; }

.start__content__p {
  transform: translate(20px, 10px);
  transition: transform 0.15s, opacity 0.1s;
  opacity: 0; }

.start__content__p + .start__content__p {
  margin-top: 15px; }

.start__content__p:nth-child(2) {
  color: #adaea5; }

.start__content__p:nth-child(3) {
  color: #8a8b84; }

.start__content_p--move-up {
  transform: translate(20px, 0);
  opacity: 1; }

.start__content_p--mov-left {
  transform: translate(0, 0); }

.start__icon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-right: 10px;
  color: #2a2a27;
  grid-row-start: title-left;
  grid-row-end: downbar-left;
  grid-column-start: content-center;
  grid-column-end: content-right;
  font-size: 20rem;
  opacity: 0;
  transition: opacity 0.2s; }

.start__downbar {
  grid-area: downbar-center;
  font-size: 3.5rem; }

.start__downbar {
  margin-left: 60px; }

.start__downbar__container {
  display: inline-block;
  transform: translate(0, 0);
  transition: transform 1s, font-size 1s, opacity 0.15s; }

.start__downbar__container--title {
  margin-right: 50%; }

.start__downbar__container--move {
  transform: translate(0, -35vh) scale(3);
  transform-origin: 0 0; }

.start__downbar__container--move-away {
  transform: translate(-100vw, -150vh) scale(1);
  transition: transform 2s; }

.start__downbar__container--title--invisible {
  opacity: 0; }

.start__downbar__text {
  display: inline;
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s, transform 0.6s, font-size 0.3; }

.start__downbar__text--title {
  position: relative; }

.start__downbar__text__line {
  position: absolute;
  top: 50%;
  left: -62px;
  width: 0px;
  height: 6px;
  background: linear-gradient(to right, #c89d9d 50%, white 50%);
  background-position: right top;
  background-size: 200% 100%;
  transition: background-position 0.4s ease-out, width 0.4s; }

.start__downbar__text__line--draw-active {
  width: 64px; }

.start__downbar__text__line--active {
  background-position: bottom left; }

.start__line--downbar {
  grid-area: downbar-left;
  height: 0;
  z-index: 2;
  transition: background-position 0.3s ease-out, height 0.3s; }

.start__line--downbar--active {
  height: 117px; }

.start__downbar__text__overlay {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #c89d9d;
  overflow: hidden;
  width: 0%;
  transition: width 1s; }

.start__downbar__text__overlay--author {
  display: flex;
  margin-right: 10px; }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  40% {
    transform: translateY(-20px); }
  80% {
    transform: translateY(0px);
    color: #c89d9d; }
  100% {
    transform: translateY(0px); } }

@media (max-width: 1919px) {
  .start__title__container {
    font-size: 2.1rem;
    margin-right: -7px; }
  .start__title__span {
    font-size: 1.7rem;
    margin-bottom: -6px;
    margin-right: -1.75px;
    z-index: 1; }
  .start__downbar {
    grid-area: downbar-center;
    font-size: 3rem; }
  .start__line {
    width: 5px; }
  .start__content {
    font-size: 4rem; }
  .start__content__p + .start__content__p {
    margin-top: 10px; }
  .start__icon {
    font-size: 16rem; }
  .start__downbar__text__line {
    height: 5px; }
  .start__line--downbar--active {
    height: 99px; }
  .start__downbar__container--move {
    transform: translate(0, -35vh) scale(2.6); }
  .start__downbar__container--move-away {
    transform: translate(-100vw, -150vh) scale(0.9); } }

@media (max-width: 1365px) {
  .start__title__container {
    font-size: 1.8rem;
    margin-right: -6px; }
  .start__downbar__container--move {
    transform: translate(0, -35vh) scale(2); }
  .start__downbar__container--move-away {
    transform: translate(-100vw, -150vh) scale(0.8); }
  .start__downbar {
    margin-left: 30px;
    font-size: 2.5rem; }
  .start__downbar__text__line {
    left: -32px; }
  .start__line--downbar--active {
    height: 85px; }
  .start__downbar__text__line--draw-active {
    width: 34px; }
  .start__icon {
    font-size: 10rem; } }

@media (max-width: 1023px) and (orientation: portrait) {
  .start {
    grid-template-rows: 10vh 1fr 25vh;
    grid-template-columns: 30vw 1fr 15vw; }
  .start__title__container {
    font-size: 1.1rem;
    margin-bottom: -3.2px;
    margin-right: -4px; }
  .start__line {
    width: 4px; }
  .start__content {
    font-size: 2.5rem; }
  .start__content__p + .start__content__p {
    margin-top: 20px; }
  .start__icon {
    font-size: 10rem; }
  .start__downbar__text__line {
    height: 4px; }
  .start__line--downbar--active {
    height: 47px; }
  .start__downbar {
    font-size: 1.4rem; }
  .start__downbar__container--move {
    transform: translate(-20vw, -20vh) scale(1.5); }
  .start__downbar__container--move-away {
    transform: translate(-100vw, -150vh) scale(0.5); }
  .start__downbar__container--title {
    margin-right: 50%; } }

@media (max-width: 1023px) and (orientation: landscape) {
  .start {
    grid-template-rows: 10vh 1fr 30vh;
    grid-template-columns: 20vw 1fr 25vw; }
  .start__title__container {
    font-size: 1.2rem;
    margin-bottom: -3.2px;
    margin-right: -3.7px; }
  .start__line {
    width: 4px; }
  .start__downbar {
    font-size: 1.4rem; }
  .start__downbar__text__line {
    height: 4px; }
  .start__line--downbar--active {
    height: 47px; }
  .start__content__p {
    font-size: 2rem; }
  .start__content__p + .start__content__p {
    margin-top: 10px; }
  .start__icon {
    font-size: 10rem;
    transition: opacity 0.2s; } }

.skills {
  display: flex;
  height: 100vh;
  background-color: #1f1f1d; }

.skills__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 10px; }

.skills__description__title {
  margin-bottom: 15px;
  transform-origin: 0 0;
  transition: transform 1.2s, opacity 0.4s;
  opacity: 0; }

.skills__description__title--active {
  transform: translate(0, 0) scale(1); }

.skills__description__title__h2 {
  font-size: 2.5rem;
  color: #c89d9d; }

.skills__description__text {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.3s, transform 0.3s; }

.skills__description__text--active {
  opacity: 1;
  transform: translateX(0); }

.skills__description__text__span {
  font-size: 1.2rem;
  text-align: center;
  color: #adaea5; }

.skills__technologies {
  display: grid;
  grid-template-columns: calc(30vw - 2px) 4px calc(30vw - 2px);
  grid-template-areas: "margin margin margin" "items-left line items-right";
  position: relative;
  width: 60%;
  overflow-y: scroll;
  overflow-x: hidden; }

.skills__technologies__margin {
  grid-area: margin;
  width: 100%;
  height: 15px; }

.skills__technologies__wrapper {
  padding-bottom: 50vh; }

.skills__technologies__wrapper--left {
  grid-area: items-left;
  display: flex;
  flex-direction: column; }

.skills__technologies__line {
  position: relative;
  grid-area: line;
  background: linear-gradient(to bottom, white, white 50%, white 100%);
  height: 0;
  width: 100%;
  margin-top: calc(207px / 2 - 15px); }

.skills__technologies__line--tranistion {
  transition: height 1s; }

.skills__technologies__line--tranistion .skills__technologies__line__overlay {
  transition: height 1s; }

.skills__technologies__line__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0px;
  background-color: #c89d9d; }

.skills__technologies__wrapper--right {
  grid-area: items-right; }

.skills__technologies__line--active {
  height: calc(100vh - 50px); }

.skills__technologies__wrapper--right
.skills__technologies__wrapper__container:first-child {
  margin-top: 0vh; }

.skills__technologies__wrapper--left
.skills__technologies__wrapper__container:first-child {
  margin-top: calc(65vh + 103.5px); }

.skills__technologies__wrapper__container {
  position: relative;
  height: 207px; }

.skills__technologies__wrapper__container
+ .skills__technologies__wrapper__container {
  margin-top: 130vh; }

.skills__technologies__wrapper__container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 207px; }

.skills__technologies__wrapper__container__item__container {
  position: absolute;
  width: 180px;
  height: 102px; }

.skills__technologies__wrapper__container__item__container:nth-of-type(2) {
  transform: rotate(60deg); }

.skills__technologies__wrapper__container__item__container:nth-of-type(3) {
  transform: rotate(-60deg); }

.skills__technologies__wrapper__container__item__container__hexagon {
  position: relative;
  width: 100%;
  height: 100%; }

.skills__technologies__wrapper__container__item__container__hexagon__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #222;
  transition: color 0.2s 1.3s; }

.skills__technologies__wrapper__container__item__container__hexagon__element {
  position: absolute;
  width: 4px;
  height: 100%;
  z-index: 5;
  background-color: #222;
  transition: height 0.3s; }

.skills__technologies__wrapper__container__item:hover
.skills__technologies__wrapper__container__item__container__hexagon__element {
  height: 100%; }

.skills__technologies__wrapper__container__item__container__hexagon__element--center-left {
  left: 0; }

.skills__technologies__wrapper__container__item__container__hexagon__element--center-right {
  right: 0; }

.skills__technologies__wrapper__container__item__container__hexagon__element--top-left {
  left: 0; }

.skills__technologies__wrapper__container__item__container__hexagon__element--bottom-left {
  left: 0; }

.skills__technologies__wrapper__container__item__container__hexagon__element--top-right {
  right: 0; }

.skills__technologies__wrapper__container__item__container__hexagon__element--bottom-right {
  right: 0; }

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #c89d9d;
  transition: height 0.3s;
  animation-delay: 0.3s; }

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--center-left {
  top: 0; }

.skills__technologies__wrapper__container__item__container:nth-of-type(1)
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-delay: 0.6s; }

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-left {
  animation-delay: 0.9s; }

.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-right {
  animation-delay: 0.9s; }

.skills__technologies__wrapper__container--active
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-name: hexagon;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.skills__technologies__wrapper__container--active
.skills__technologies__wrapper__container__item__container__hexagon__icon {
  color: #c89d9d; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__item__container__hexagon__icon {
  color: #222;
  transition: 0.2s 0.9s; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-name: hexagon, hexagonReverse; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-delay: 0.6s; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__item__container:nth-of-type(1)
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay {
  animation-delay: 0.3s; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-left {
  animation-delay: 0s; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__item__container__hexagon__element__overlay--bottom-right {
  animation-delay: 0s; }

.skills__technologies__wrapper__container__point {
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; }

.skills__technologies__wrapper--right
.skills__technologies__wrapper__container__point {
  right: initial;
  left: -2px; }

.skills__technologies__wrapper__container__point__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1; }

.skills__technologies__wrapper__container__point__circle--big {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #c89d9d 50%, white 50%);
  background-position: bottom;
  background-size: 100% 200%;
  transition: background-position 0.2s ease-out, height 1s; }

.skills__technologies__wrapper__container--active
.skills__technologies__wrapper__container__point__circle--big {
  background-position: top; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__point__circle--big {
  background-position: bottom; }

.skills__technologies__wrapper__container__point__circle--medium {
  width: 26px;
  height: 26px;
  background-color: #1f1f1d; }

.skills__technologies__wrapper__container__point__circle--small {
  width: 8px;
  height: 8px;
  background-color: white;
  transition: background-color 0.1s 0.2s; }

.skills__technologies__wrapper__container--active
.skills__technologies__wrapper__container__point__circle--small {
  background-color: #c89d9d; }

.skills__technologies__wrapper__container--deactive
.skills__technologies__wrapper__container__point__circle--small {
  background-color: white; }

.skills__technologies__wrapper__container__point__circle--small--active {
  background-color: #c89d9d; }

@media (max-width: 1919px) {
  .skills__technologies {
    grid-template-columns: calc(30vw - 1.5px) 3px calc(30vw - 1.5px); }
  .skills__technologies__wrapper__container {
    height: 137px; }
  .skills__technologies__wrapper--left
.skills__technologies__wrapper__container:first-child {
    margin-top: calc(65vh + 68.5px); }
  .skills__technologies__wrapper__container__item {
    height: 137px; }
  .skills__technologies__wrapper__container__item__container {
    width: 120px;
    height: 68px; }
  .skills__technologies__wrapper__container__item__container__hexagon__icon {
    font-size: 4.5rem; }
  .skills__technologies__wrapper__container__point {
    right: -1.5px; }
  .skills__technologies__line {
    margin-top: calc(137px / 2 - 15px); }
  .skills__technologies__wrapper--right
.skills__technologies__wrapper__container__point {
    left: -1.5px; }
  .skills__technologies__wrapper__container__point__circle--big {
    width: 25px;
    height: 25px; }
  .skills__technologies__wrapper__container__point__circle--medium {
    width: 22px;
    height: 22px;
    background-color: #1f1f1d; }
  .skills__technologies__wrapper__container__point__circle--small {
    width: 6px;
    height: 6px;
    background-color: white;
    transition: background-color 0.1s 0.3s; } }

@media (max-width: 1365px) {
  .skills__technologies {
    grid-template-columns: calc(30vw - 1px) 2px calc(30vw - 1px); }
  .skills__technologies__wrapper__container {
    height: 104px; }
  .skills__technologies__wrapper--left
.skills__technologies__wrapper__container:first-child {
    margin-top: calc(65vh + 52px); }
  .skills__technologies__wrapper__container__item {
    height: 104px; }
  .skills__technologies__wrapper__container__item__container {
    width: 90px;
    height: 51px; }
  .skills__technologies__wrapper__container__item__container__hexagon__icon {
    font-size: 3.5rem; }
  .skills__technologies__wrapper__container__point {
    right: -1px; }
  .skills__technologies__line {
    margin-top: calc(104px / 2 -15px); }
  .skills__technologies__wrapper--right
.skills__technologies__wrapper__container__point {
    left: -1px; }
  .skills__technologies__wrapper__container__point__circle--big {
    width: 20px;
    height: 20px; }
  .skills__technologies__wrapper__container__point__circle--medium {
    width: 18px;
    height: 18px;
    background-color: #1f1f1d; }
  .skills__technologies__wrapper__container__point__circle--small {
    width: 5px;
    height: 5px;
    background-color: white;
    transition: background-color 0.1s 0.3s; } }

@media (max-width: 1023px) {
  .skills {
    flex-direction: column;
    align-items: center;
    height: 200vh; }
  .skills__description {
    height: 100vh;
    width: 100vw;
    margin-left: 0; }
  .skills__technologies {
    grid-template-columns: calc(50vw - 2px) 4px calc(50vw - 2px);
    width: 100%;
    height: 100vh; }
  .skills__technologies__wrapper__container__point {
    right: -2px; }
  .skills__technologies__wrapper--right
.skills__technologies__wrapper__container__point {
    left: -2px; }
  .skills {
    height: 200vh; }
  .skills__description {
    height: 100vh; } }

@keyframes hexagon {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

@keyframes hexagonReverse {
  0% {
    height: 100%; }
  100% {
    height: 0%; } }

.opacity {
  opacity: 100%; }

.visibility-hidden {
  visibility: hidden; }

.visibility-visble {
  visibility: visible; }

.no-display {
  display: none; }

.opacity-visible {
  opacity: 1; }

.height-max {
  height: 100%; }

.width-max {
  width: 100%; }

.container {
  display: flex;
  flex-direction: column; }

